Repository oBusk/obusk.se: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-path .prettierignore --write

Fix lint-staged not working
  .lintstagedrc.json
  package.json
Due: prettier --ignore-path .prettierignore --write

Try if updating gitignore fixes lint issue
  .gitignore
Due: none

Let prettier resolve files instead of cli
  package.json
Due: prettier --ignore-path .prettierignore --write

Fix prettier issues
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .prettierignore --write

Fix lint failing
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .prettierignore --write

Big update
  .eslintrc.json
  eslint.config.mjs
  next-env.d.ts
  next.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/pages/_app.tsx
  src/pages/index.tsx
  tsconfig.json
Due: eslint --fix, prettier --ignore-path .prettierignore --write

Fix type issue
  src/pages/_document.tsx
Due: eslint --fix

Bump dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: prettier --ignore-path .prettierignore --write

Update pnpm, pnpm config and node
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --ignore-path .prettierignore --write

Update vulnerable direct dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .prettierignore --write

pnpm audit --fix update
  pnpm-lock.yaml
Due: prettier --ignore-path .prettierignore --write

pnpm audit --fix override
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --ignore-path .prettierignore --write

Update and pin github actions
  .github/workflows/dependency-review.yml
  .github/workflows/nodejs.yml
Due: prettier --ignore-path .prettierignore --write

Update to next 16.3
  .github/workflows/dependency-review.yml
  .github/workflows/nodejs.yml
  eslint.config.mjs
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --ignore-path .prettierignore --write

Regenerate tsconfig to reset to modern defaults
  tsconfig.json
Due: prettier --ignore-path .prettierignore --write

Fix tsconfig path alias for TS5090 build failure
  tsconfig.json
Due: prettier --ignore-path .prettierignore --write

Update pnpm and config
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --ignore-path .prettierignore --write

Updates
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .prettierignore --write

nex-env.d.ts should not be checked in
  next-env.d.ts
  package.json
Due: eslint --fix, prettier --ignore-path .prettierignore --write

Updates and cleanup pnpm-workspace
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --ignore-path .prettierignore --write

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --ignore-path .prettierignore --write: any of: **/*.{md,yml,yaml,json}
